/*Overall Page Styling*/
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    
}

/*Hero Section Styling*/
.hero{
    background-image:url("images/LighthouseWeb.jpg");
    width:100%;
background-size:cover;
text-align:left;
padding: 5em;
color: white;
text-shadow: 1px 1px 1px black;
}

.hero_text{
    width: 60%;
}

h1{
    font-family: 'Sail', cursive;
    font-size:6em;
    }

/*Activities Section Styling*/
.activities{
    margin:2em auto;
    font-size: 2em;
    width:80%;

}
.activity-description{
    display: flex;
    width:100%;
    margin:0 auto;
    padding:50px;
}
.single-activity{
    width:300px;
}

.activities img {
    width:150px;
    height:150px;
    padding: 5px;
    margin:.5em;
    border-radius:50%;
}

.activities h4 {
    font-size: .7em;
}

.activities p {
    font-size: .5em;
}

/* Guide Section Styling */

.guide{
   display: flex;
    background-color:lightblue;
    width: 60%;
    height: auto;
    margin: 20px auto;
    padding:15px 20px;
    border-radius: 10px;
}

.guide-photo{
    margin: auto 20px auto 0;
    width: 300px;
}

.guide-text{
    width:300px;
   margin: auto 0px auto 0;
}

.guide h3{
    font-size: 1.5em;
}

.guide p{
    font-size: 1em;
    font-style: italic;
    padding: 20px 0px 5px;
}


.headshot{
   width: 200px;
   padding:10px 0;
}
